.containDiv {
    /* 
    다시 만져야됩니다 width값 100%로 주면 화면 확대 축소 했을때 달라집니다.. 
    대신 픽셀 값으로 주면 반응형은 안되지만 게시물 3개씩 정렬 됩니다.
    */
    width: 1200px;
    margin: 0 auto;
	flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.rowDiv {
    width: 1200px;
    height: 380px;
    margin-bottom: 30px;
    display: flex;
    float: left;
}

.contentDiv {
    margin-right: 30px;
    width: 380px;
    height: 380px;
    display: inline-block;
    position: relative;
    /* background-size: cover;
    background-position: 50% center;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    cursor: pointer;  */
}


.contentImg {
    width: inherit;
    height: inherit;
    text-align: justify;
    border-radius: 5px;
}

.totalText{
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 380px;
    height: 42px;
}

.textAutoLayout {
    position: absolute;
    height: inherit;
    right: 12px;
    bottom: 12px;
    padding: 10px 5px;
    gap: 10px;
    background: rgba(36, 36, 36, 0.5);
    border-radius: 5px;
}

.textAutoLayout > p {
    display: block;

    font-size: 20px;
    color: white;
    cursor: pointer;
    font-family: 'Arita-dotum-Bold';
}

