/* 관리자페이지 */
.conDiv {
    display: inline-flex;
    justify-content: center;
    /* flex-direction: column; */
    /* align-items: center; */
}

.inputBox {
    width: 290px;
    height: 40px;
}

.spanLock {
    font-size: 20px;
    margin: 0px;
    padding: -10px;
    margin-left: -20px; 
}

.checkText{
    font-size: 10px;
    color:red;
    margin-bottom: 30px;
}

.changeBtn {
    position: relative;
    width: 200px;
    height: 40px;
    color: white;
    background-color: black;
    cursor: pointer;
}